.Btm_bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Btm_bar p{
    padding: 10px 50px;
}

.Btm_bar input{
    margin: 10px 10px;
    padding: 10px;
    border-radius: 23px;
    width: 40%;
}

.Btm_bar button{
    border-radius: 20px;
    padding: 10px 20px;
}