.column div {
    display: flex;
    align-items: center; /* Center-align the items */
    text-align: center; /* Center the text */
}

.column div p {
    margin: 10px;
}

body {
    color: whitesmoke;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    transition: all 0.7s ease-in; /* Added 's' for seconds */
}

.column > img:hover {
    background-color: rgb(0, 0, 0);
    color: black;
    transform: scale(1.04);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(184, 179, 179, 0.5), 0 0 20px rgba(2, 7, 54, 0.3);
}

.column {
    padding-top: 30px;
    flex: 33.33%;
}
