.Search_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    color: rgb(237, 237, 237);

}

.Search_bar p{
    margin: 20px 40px;
    font-weight: bolder;
    
    
}

.Search_bar input::placeholder {
    text-align: center;
}
.Search_bar p:hover{
    border: 2px solid white;
    border-radius: 20px;
    padding: 4px;
    color: black;
    background-color: whitesmoke;
    
}

.Search_bar input{
    width: 50%;
    margin: 10px 0px; 
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.4s ease-in;
    justify-content: center;
    color: black;
}

.Search_bar input:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 2px solid black;
}